/*Variables*/

:root {
  --basic-dark-blue: #293449;
  --basic-superdark-blue: #1d2739;
  --basic-link-hover:#161D29;
  --basic-nav-blue: #32425c;
  --basic-light-blue: #3bbce3;
  --basic-orange: #ffbf47;
  --basic-light-orange: #ffc047;
  --basic-footer-nav: #ffd180;
  --basic-purple: #dc91d8;
  --basic-red: #ee3643;
  --basic-light-green: #8ed78f;
  --basic-green: #63a63e;
  --basic-background: #f3f7f9;
  --basic-creme: #f9f5f0;
  --basic-graylight: #c5c5c5;
  --basic-buttonsbg: rgba(255, 255, 255 0.3);
  --basic-font-cuprum: "Cuprum", Arial, Helvetica, sans-serif;
  --basic-font-ptsans: "PT Sans", Arial, Helvetica, sans-serif;
}

figure {
  margin: 0;
  padding: 0;
}

/* Global */

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

body {
  width: 100%;
  min-width: 960px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  margin: 0;
  text-transform: uppercase;
}

p {
  font-family: var(--basic-font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.page-body {
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--basic-font-ptsans);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-body a {
  text-decoration: none;
}

/* main header */

.main-header {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-background);
  justify-content: center;
  width: 100%;
  /* ПОДСВЕТКА */
}

.main-header-menu {
  background-color: var(--basic-dark-blue);
  width: 100%;
}

.main-header-bar {
  display: flex;
  align-items: center;
}

header .main-header-center {
  margin-top: 46px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ПОДСВЕТКА */

.logo {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b62530;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
}

/* RED Basket */

.basket {
  background-color: var(--basic-red);
}

/* RED Basket */

.bookmark:active,
.cart:active {
  background-color: #161d29;
}

.bookmark:active,
.cart:active,
.checkout:active {
  opacity: 0.5;
}
.main-menu-icon {
  width: 15px;
  height: 100%;
  border: 0;
  fill: #fff;
  opacity: .3;
  margin: 0 13px 3px -9px;
}
.bookmark svg {
  width: 14px;
}

.main-menu-form {
  width: 270px;
  height: 100%;
}

.search {
  background-color: transparent;
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
  display: inline-block;
  fill-opacity: 0.5;
  padding: 0 10px 0 42px;
  height: 100%;
  width: 210px;
}

::placeholder {
  color: #fff;
  width: 220px;
}
::placeholder:focus-within {
  color: #000;
}
.search:focus-within {
  background-color: #fff;
}

input:focus::-webkit-input-placeholder {
  color: #000;
}

.main-menu-form label {
  position: relative;
}

.main-menu-form label:before {
  display: block;
  content: "";
  background-image: url("../img/icon-search.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 17px;
  opacity: 0.3;
  top: 0;
  left: 17px;
  bottom: 0;
  right: 0;
  position: absolute;
}
.main-menu-link:focus ,
.main-menu-link:hover {
  background-color: var(--basic-link-hover);
}
.main-menu-link:hover .main-menu-icon {
  opacity: 1;
}

.main-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px 16px;
  padding-left: 23px;
  position: relative;
  color: #fff;
  font-family: var(--basic-font-cuprum);
  font-size: 18px;
  line-height: 24px;
  padding: 9px 16px 9px 19px;;
  width: 150px;
  text-align: center;
}

.checkout {
  background-color: var(--basic-green);
}

.checkout:hover {
  background-color: #5fbb2d;
}

.main-header-center p {
  font-family: var(--basic-font-cuprum);
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  width: 197px;
  height: 71px;
  text-align: left;
  margin-left: 30px;
}

.main-contacts-phone {
  color: #32425c;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  font-family: var(--basic-font-cuprum);
  font-weight: 700;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding: 7px 45px 8px 39px;
  width: 270px;
  height: 24px;
}

.main-header-center address {
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 14px;
  width: 250px;
  /* height: 24px; */
  color: #32425c;
  margin-top: 3px;
}

.main-header-center-login {
  display: flex;
  max-width: 299px;
  justify-content: center;
  flex-wrap: wrap;
}

.login {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
}

.login-link,
.login-reg {
  background-color: #fff;
  text-transform: none;
  height: 45px;
  color: #000;
  margin-left: 10px;
  min-width: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--basic-font-cuprum);
  font-size: 21px;
  line-height: 21px;
}

.login-link {
  min-width: 121px;
}
.login-link::before {
  display: inline-block;
  vertical-align: top;
  content: "";
  width: 20px;
  height: 17px;
  margin: 0 12px 0 -10px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.login-reg {
  min-width: 150px;
}

.login-link a:hover,
.login-reg a:hover {
  color: var(--basic-red);
}

.login-link a:focus,
.login-reg a:focus {
  color: var(--basic-graylight);
}

.user-icon {
  margin-right: 21px;
  margin-left: 0px;
}

.logout {
  margin-left: 20px;
  margin-right: 17px;
}

.login-item {
  font-family: var(--basic-font-cuprum);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  background-color: #fff;
  width: 299px;
  height: 45px;
  display: block;
  margin-bottom: 7px;
}

.login-inside {
  display: flex;
  width: 210px;
  justify-content: space-between;
}

.login-inside-item {
  font-family: var(--basic-font-cuprum);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
}

.login-inside-item:last-child::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  top: 7px;
  left: -18px;
  position: absolute;
}

.login-inside-item-link,
.profile {
  color: #32425c;
}

.login-inside-circle {
  margin: 6px 8px 5px 8px;
}

/* .profile:hover {

} */

.login-inside a:hover {
  color: var(--basic-red);
}

.profile:active,
.login-inside a:active {
  color: var(--basic-graylight);
}

/* navigation */

nav.main-navigation {
  margin-bottom: 60px;
}
.site-navigation {
  width: 100%;
  background-color: var(--basic-nav-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  font-family: var(--basic-font-cuprum);
  color: #fff;
  outline: 0;
  display: block;
  text-align: center;
  padding: 16px 24px 20px 27px;
  cursor: pointer;
}

.site-navigation-item:hover {
  background-color: var(--basic-dark-blue);
}

.site-navigation-item a:active {
  background-color: var(--basic-superdark-blue);
  opacity: 0.5;
}

/* h2 catalog */

.inner-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

/* breadcrumbs */

section .breadcrumbs {
  margin: 21px 0 20px 0;
  display: block;
}

.breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs-item a {
  color: #000000;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  margin: 0 15px;
  position: relative;
}

/* aside  */

.product-item-buy {
  position: relative;
  display: flex;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  background-color: #63a63e;
  margin-bottom: 7px;
  border-radius: 5px;
  box-shadow: inset 0px -3px 0px 0px rgb(54 115 21);
}

.product-item-buy::before {
  content: "";
  background-image: url(../img/icon-cart.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  opacity: 0.3;
  display: block;
  width: 15px;
  margin-right: 9px;
  height: 15px;
}

.product-item-buy:hover::before,
.product-item-buy:active::before {
  color: #ffffff;
}

.product-item-buy:hover {
  background-color: #5fbb2d;
}

.product-item-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.product-item-bookmark {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 129px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 5px;
  border: solid 3px #63a63e;
  color: var(--basic-nav-blue);
}

.product-item-bookmark:hover {
  border-color: #32425c;
}

.product-item-bookmark:active {
  border-color: #32425c;
  opacity: 0.5;
}

.product-item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 169px;
}

.product-item-buttons {
  position: absolute;
  display: none;
  top: 0;
  width: 218px;
  height: 124px;
  padding-top: 45px;
  background-color: #ffffff;
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-item:hover .product-item-buttons {
  display: block;
}

aside {
  display: block;
  width: 220px;
}

.catalog-grid {
  display: grid;
  grid-template-areas: "filters results";
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  min-height: 100vh;
}

.catalog-filter-title {
  margin: 0;
  padding: 7px 15px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.catalog-price-controls input {
  position: absolute;
  width: 95px;
  padding: 10px 0px;
  border: none;
  outline: none;
  background-color: #f7f3ec;
  border-radius: 3px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  font-family: var(--basic-font-ptsans);
}

.catalog-filter-range .catalog-price-controls input[name="min-price"] {
  left: 0;
}

.catalog-filter-range .catalog-price-controls input[name="max-price"] {
  right: 0;
}

.catalog-filter-range .catalog-price-controls {
  position: relative;
  min-height: 38px;
}

.catalog-filter-range .catalog-price-controls:after {
  content: "";
  position: absolute;
  top: 19px;
  left: 106px;
  width: 8px;
  height: 1px;
  background-color: #000;
}

input[type="range"] {
  width: 220px;
  height: 80px;
  appearance: none;
  background-color: #f7f3ec;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 180px;
  height: 2px;
  border: 1px solid #00ca74;
}

input[type="range"]::-webkit-slider-thumb {
  background-image: url("../img/filter-button.svg");
  width: 20px;
  height: 22px;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-track {
  width: 180px;
  height: 2px;
  border: 1px solid #00ca74;
}

input[type="range"]::-moz-range-thumb {
  width: 180px;
  border: 1px solid #00ca74;
  cursor: pointer;
}

.catalog-filter-range {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-filter-range b,
.catalog-filter-brands b,
.catalog-filter-power b {
  position: relative;
  display: block;
  margin: 15px 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.catalog-filter-brands-list,
.catalog-filter-power-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-brands-list ul {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-filter-power ul {
  margin-bottom: 50px;
}

.catalog-filter-brands-list li,
.catalog-filter-power-list li {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter-brands-list label,
.catalog-filter-power-list label {
  cursor: pointer;
}

.catalog-filter-brands-list label:hover,
.catalog-filter-power-list label:hover {
  color: #222;
}

.catalog-filter-brands-list input,
.catalog-filter-power-list input {
  position: relative;
  display: none;
}

.check {
  position: relative;
  margin-right: 35px;
}

.catalog-filter-brands-list input:disabled,
.catalog-filter-power-list input:disabled::before {
  opacity: 0.3;
}

.catalog-filter-brands-list input + .check::before,
.catalog-filter-power-list input + .check::before {
  width: 25px;
  height: 25px;
  content: "";
  margin-right: 10px;
  color: #b1b1b1;
  vertical-align: middle;
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.catalog-filter-power-list input[type="radio"] + .check::before {
  background-image: url("../img/radio-off.svg");
}

.catalog-filter-brands-list input:checked + .check::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.3;
}

.catalog-filter-power-list input:checked + .check::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.3;
}

.catalog-filter-brands-list input:hover + .check::before,
.catalog-filter-power-list input:hover + .check::before {
  opacity: 0.5;
}

.catalog-filter-brands-list input:disabled + .check::before,
.catalog-filter-power-list input:disabled + .check::before {
  color: #e1e1e1;
}

.catalog-filter-range .catalog-price-controls {
  position: relative;
  margin-bottom: 9px;
  padding: 39px 20px;
  background-color: #f7f3ec;
  border-radius: 0 0 3px 3px;
}

.show {
  display: block;
  border: none;
  box-sizing: border-box;
  background-image: url("../img/showbtn.png");
  width: 220px;
  height: 38px;
  text-transform: uppercase;
  font-family: var(--basic-font-ptsans);
  font-weight: 400;
}

/* sort */

.catalog-controls {
  display: inline-block;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 12px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.catalog-controls a {
  color: #aaa;
  text-decoration: none;
}

.catalog-controls span {
  float: left;
}

.catalog-controls .sorting {
  float: right;
  margin-right: 60px;
  border-bottom: 1px dotted #ee3643;
}

.catalog-controls .sorting:hover {
  color: #000;
  border-bottom-style: solid;
}

.catalog-controls .sorting:active {
  color: #ee3643;
  border-color: transparent;
}

.catalog-controls .sorting.active {
  color: #ee3643;
  border-color: transparent;
  pointer-events: none;
}

.catalog-controls .icon-up-dir,
.catalog-controls .icon-down-dir {
  float: right;
  font-size: 23px;
}

.catalog-controls .icon-up-dir:hover,
.catalog-controls .icon-down-dir:hover {
  color: #000;
}

.catalog-controls .icon-up-dir:active,
.catalog-controls .icon-down-dir:active {
  color: #ee3643;
}

.catalog-controls .icon-up-dir.active,
.catalog-controls .icon-down-dir.active {
  color: #ee3643;
  pointer-events: none;
}

/* sort */

/* wrapper */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* features */

.features {
  margin-top: 59px;
  margin-bottom: 59px;
}

.features-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: repeat(3, 123px);
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  min-height: 123px;
  color: #ffffff;
  font-family: var(--basic-font-cuprum);
  position: relative;
  gap: 14px;
}

.features-item b,
.features-item a {
  margin-left: 23px;
}

.features-list b {
  font-size: 24px;
}

.features-btn {
  width: 135px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}

.features-btn:hover {
  background-color: rgba(196, 196, 196, 0.3);
  color: #fff;
}

.features-btn:active {
  background-color: rgba(169, 169, 169, 0.3);
  color: #fff;
}

.materials {
  background-color: var(--basic-orange);
  background-image: url("../img/buсket.svg");
  background-position-x: 85%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.tool {
  background-color: var(--basic-light-blue);
  background-image: url("../img/drill.svg");
  background-position-x: 85%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.technic {
  background-color: var(--basic-purple);
  background-image: url("../img/tractor.svg");
  background-position-x: 85%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.discount {
  background-color: var(--basic-light-green);
  background-image: url("../img/basket.svg");
  background-position-x: 85%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.delivery {
  background-color: var(--basic-orange);
  background-image: url("../img/car.svg");
  background-position-x: 85%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

/* slider */

.slider {
  grid-area: 2 / 1 / 4 / 3;
  position: relative;
}

.slider-part {
  position: relative;
}

.slider-part b {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  top: 24px;
  font-weight: 700;
}

.slider-link {
  display: block;
  width: 135px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--basic-font-cuprum);
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
  position: absolute;
  top: 201px;
  left: 24px;
}

.slider-link:hover {
  background-color: #ca2c37;
}

.slider-link:active {
  background-color: #ba2732;
}

.slider-part p {
  font-size: 18px;
  line-height: 24px;
  top: 64px;
}

.slider-part b,
.slider-part p {
  position: absolute;
  left: 24px;
  color: #fff;
  font-family: var(--basic-font-cuprum);
}

.slide-control-left::before,
.slide-control-right::before {
  position: absolute;
  top: 50%;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-size: 23px 41px;
}

/* section product */

section.product {
  margin-bottom: 70px;
}

.product-grid {
  display: grid;
  grid-template-rows: 89px 318px;
  row-gap: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-gap: 20px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-gap: 20px;
}

.product-popular {
  width: 940px;
  height: 89px;
  font-family: var(--basic-font-cuprum);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-creme);
}

.product-popular h2 {
  margin-left: 28px;
}

.product-popular a {
  margin-right: 14px;
  width: 192px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
}

.product-item {
  width: 220px;
  font-family: var(--basic-font-ptsans);
  font-style: normal;
  font-weight: 700;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  min-height: 318px;
  /* margin: 0 0 20px 20px; */
  display: flex;
  flex-direction: column;
  padding-bottom: 19px;
}

.product-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.product-item-info h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 10px 25px 11px;
  text-align: center;
  align-self: stretch;
}

.product-item-info del {
  color: #a9a9a9;
  margin-bottom: 10px;
  margin-top: auto;
}

.product-item .flag {
  top: -1px;
  right: -1px;
  z-index: 10;
}

.flag::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-image: url("../img/flag-new.png");
  z-index: 2;
}

.product-item h3 {
  font-size: 18px;
  line-height: 20px;
}

.product-item del {
  font-size: 17px;
  line-height: 18px;
}

.product-btn {
  font-family: var(--basic-font-ptsans);
  border-radius: 3px;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  width: 141px;
  height: 38px;
  background-color: var(--basic-red);
  position: relative;
}

.product-btn::after {
  content: "";
  position: absolute;
  right: -20px;
  border: 19px solid #fff;
  border-left-color: #ee3643;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* manufacturers section */

section.manufacturers {
  margin-top: 59px;
  margin-bottom: 59px;
}

.manufacturers-grid {
  display: grid;
  grid-template-rows: 89px 310px;
  row-gap: 20px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, 145px);
  gap: 20px;
}

.manufacturers-item {
  display: block;
  position: relative;
  width: 220px;
  height: auto;
}

/* .manufacturers-item a {
  position: absolute;
} */

.manufacturers-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.manufacturers-item:active {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  opacity: 0.5;
}

/* services */

.services {
  background-color: var(--basic-background);
  height: 522px;
  margin-bottom: 70px;
}
.services-grid {
  display: grid;
  grid-template-rows: 104px 329px ;
  row-gap: 21px;
  padding-top: 64px;
}
.services-header {
  width: 396px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap:wrap;
}
ul.services-list {
  list-style: none;
  margin: 0;
  padding: 67px 0;
  position: relative;
  align-self: self-start;
}

.services-list::before {
  content: "";
  width: 10px;
  background-image: url("../img/Object.png");
  height: 279px;
  right: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

.services p {
  font-family: var(--basic-font-ptsans);
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  height: 49px;
}

.services-item-link {
  display: block;
  background-color: var(--basic-nav-blue);
  width: 240px;
  height: 61px;
  font-family: var(--basic-font-cuprum);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  align-items: center;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: 11px;
  line-height: 16px;
  padding: 22px 22px;
  justify-content: flex-start;
  box-shadow: inset 0px 1px 0px #405069;
  border-radius: 0;
  outline: 0;
}

.services-item-link-active {
  background-color: #fff;
  color: var(--basic-nav-blue);
  box-shadow: none;
}

.services-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

ul.methods-list {
  padding: 67px 0;
}

.methods-list-item {
  height: 283px;
  width: 619px;
  display: none;
}

.methods-list-item b {
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  margin: 0;
  text-transform: uppercase;
  color: #32425c;
}

.methods-list-item-active {
  display: block;
}

.about-delivery {
  background-image: url("../img/delivery.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.guarantee {
  background-image: url("../img/guarantee.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.credit {
  background-image: url("../img/credit.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.methods-list b {
  font-family: var(--basic-font-cuprum);
  font-size: 30px;
  line-height: 30px;
}

.methods-list p {
  width: 300px;
  height: 99px;
}

/* about company */

section.about {
  margin-bottom: 70px;
  height: 356px;
  display: flex;
  justify-content: space-between;
}

section.about-contacts,
section.about-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-company h2 {
  margin-bottom: 24px;
}

.about-company a {
  font-family: var(--basic-font-cuprum);
  width: 220px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
}

.about-company p {
  display: block;
  width: 460px;
  font-family: var(--basic-font-ptsans);
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
}

.about-contacts p {
  display: flex;
  width: 180px;
  flex-wrap: wrap;
}

.about-company-list li {
  padding-left: 37px;
  position: relative;
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.about-company-list li::before {
  display: block;
  width: 25px;
  content: "";
  position: absolute;
  border-bottom: 2px solid #ee3643;
  top: 50%;
  left: 0px;
}

.about-write-us {
  font-family: var(--basic-font-cuprum);
  width: 300px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
}

.features-list
/* catalog-description + container (catalog) */

.catalog-description {
  padding: 65px;
  background-color: var(--basic-background);
}

.catalog-description h2 {
  margin: 0;
  margin-bottom: 25px;
  font-family: var(--basic-font-cuprum);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-description p {
  margin: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* bottom paginator */

ul.catalog-paginator {
  margin-top: 48px;
  margin-bottom: 59px;
}

.catalog-paginator {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-paginator-item .active,
.catalog-paginator-item a {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  padding: 9px 0;
  width: 36px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.catalog-paginator-item:last-child {
  margin-right: 0;
}

.catalog-paginator-item .active {
  color: #fff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.catalog-paginator-item .next {
  width: 138px;
}

.catalog-paginator-item a:hover {
  border-color: #bdc6ca;
}

.catalog-paginator-item a:active {
  border-color: #ee3643;
}

/* container (catalog) */

/* footer */

.main-footer {
  color:var(--basic-background);
  font-size: 18px;
  line-height: 24px;
  min-width: 940px;
  display: flex;
  flex-direction: column;
  background-color: var(--basic-nav-blue);
}
.footer-logo {
  align-self: stretch;
  height: auto;
}
.footer-menu {
  background-color: var(--basic-nav-blue);
  display: block;
}

.footer-last {
  background-color: var(--basic-dark-blue);
  padding-top: 34px;
  padding-bottom: 29px;
}

.footer-list-first {
  display: flex;
  flex-wrap: wrap;
  max-width: 610px;
  justify-content: flex-end;
}

.footer-list-first a , .footer-list-second a {
  color: #fff;
  font-family: var(--basic-font-cuprum);
  font-size: 18px;
  line-height: 24px;
  margin-left: 59px;
}
.footer-upper-first {
  display: flex;
  min-height: 63px;
  justify-content: space-between;
  align-items: flex-end;

}
.footer-upper-second {
  padding: 32px 0 10px;
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-list-second {
  padding: 32px 0 10px;
  min-height: 130px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}
.footer-list-second a {
  color: var(--basic-footer-nav);
  font-family: var(--basic-font-cuprum);
  font-size: 18px;
  line-height: 24px;
}
.footer-text {
  margin: 0;
  max-width: 325px;
}
.footer-text , .footer-phone {
  font-family: var(--basic-font-cuprum);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.footer-copyright {
  width: 227px;
  height: 37px;
  font-family: var(--basic-font-cuprum);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.feedback-list {
  display: flex;
  justify-content: space-between;
}

.feedback-item {
  font-family: var(--basic-font-cuprum);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  width: 137px;
  height: 37px;
}

.feedback-item span {
  color: #fff;
}

.feedback-item a {
  color: #ffd180;
}

.feedback-item a:hover {
  text-decoration: underline;
}

.feedback-item a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.footer-list-first-item a:hover,
.footer-list-second-item a:hover {
  text-decoration: underline;
}

.footer-list-first-item a:active,
.footer-list-second-item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-social-list .social-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--basic-superdark-blue);
  position: relative;
}

ul.footer-social-list {
  display: flex;
  justify-content: center;
}

.social-btn {
  display: block;
}

.social-btn:before {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.icon-vk::before {
  background-image: url("../img/icon-vk.svg");
  background-size: 25px 14px;
}

.icon-facebook::before {
  background-image: url("../img/icon-fb.svg");
  background-size: 12px 22px;
}

.icon-instagram::before {
  background-image: url("../img/icon-insta.svg");
  background-size: 21px 21px;
}

.social-btn:hover,
.social-btn:active {
  background-color: var(--basic-red);
}

.footer-last .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
