/*Variables*/

:root {
  --basic-dark-blue: #293449;
  --basic-nav-blue: #32425C;
  --basic-light-blue: #3BBCE3;
  --basic-orange: #FFBF47;
  --basic-light-orange: #FFC047;
  --basic-footer-nav: #FFD180;
  --basic-purple: #DC91D8;
  --basic-red: #EE3643;
  --basic-light-green: #8ED78F;
  --basic-green: #63A63E;
  --basic-background: #F3F7F9;
  --basic-creme: #F9F5F0;
}

/* Global */

body {
  width: 1200px;
}

h2 {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  margin: 0;
}

p {
  font-family: "Cuprum", "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.page-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-body a {
  text-decoration: none;
}

/* main header */

.main-header {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-background);
}

.main-header-top {
  background-color: var(--basic-dark-blue);
}

.main-header-top li a {
  display: inline-block;
  position: left;
}

.main-header-top li input {
  background-color: transparent;
  height: 42px;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border: none;
}

.main-header-top li input::placeholder {
  color: #fff;
}

.main-header-top a, .main-navigation li a {
  color: #fff;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.checkout {
  background-color: var(--basic-green);
  /* outline: 2px solid black;
  outline-offset: -2px; */
  padding: 9px 16px 9px 19px;
  width: 150px;
  text-align: center;
  align-items: center;
}

.main-header-center p {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #EE3643;
  width: 197px;
  height: 71px;
  text-align: left;
}

.main-contacts-phone {
  color: #32425C;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #EE3643;
  border: 3px solid #FFFFFF;
  padding: 7px 45px 8px 39px;
  width: 270px;
  height: 24px;
}

.main-header-center address {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 250px;
  height: 24px;
  color: #32425C;
  margin-top: 3px;
}

.login li {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  /* outline: 2px solid black;
  outline-offset: -2px; */
  text-align: center;
  background-color: #fff;
  padding: 12px 27px 12px 19px;
}

.login-link {
  width: 121px;
}

.login-reg {
  width: 150px;
}

/* navigation */

.site-navigation {
  background-color: var(--basic-nav-blue);
  width: 940px;
  height: 60px;
}

.site-navigation li {
  display: inline;
  height: 24px;
}

/* wrapper */

/* .features {
  width: 940px;
  height: 409px;
} */

.features-list {
  display: block;
  width: 300px;
  color: #ffffff;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
}

.features-list b {
  font-size: 24px;
}

.features-btn {
  width: 138px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
}

.features-materials {
  background-color: var(--basic-orange);
  background-image: url("../img/buсket.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.features-tool {
  background-color: var(--basic-light-blue);
  background-image: url("../img/drill.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.features-technic {
  background-color: var(--basic-purple);
  background-image: url("../img/tractor.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.features-discount {
  background-color: var(--basic-light-green);
  background-image: url("../img/basket.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.features-delivery {
  background-color: var(--basic-orange);
  background-image: url("../img/car.svg");
  background-position: right;
  background-repeat: no-repeat;
}

/* slider */

.slider-part b {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-part a {
  display: block;
  width: 135px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
}

.slider-part b, .slider-part p {
  outline: 2px solid black;
  outline-offset: -2px;
  margin: 0;
}

/* section product */

/* .product {
  width: 940px;
  height: 427px;
} */

.product-popular {
  width: 940px;
  height: 89px;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  align-items: center;
  text-transform: uppercase;
  display: block;
  background-color: var(--basic-creme);
}

.product-popular a {
  display: block;
  width: 192px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
}

.product-item {
  display: block;
  width: 220px;
  height: 318px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  border: 1px solid #EAEAEA;
  text-align: center;
}

.product-item h3 {
  font-size: 18px;
  line-height: 20px;
}

.product-item del {
  font-size: 17px;
  line-height: 18px;
}

.product-btn {
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  width: 141px;
  height: 38px;
  background-color: var(--basic-red);
}

/* manufacturers section */

/* .manufacturers {
  width: 940px;
  height: 427px;
} */

.manufacturers-list li {
  width: 220px;
  height: 145px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
}

/* services */

.services {
  background-color: var(--basic-background);
  height: 522px;
}

.services-item a {
  display: block;
  background-color: var(--basic-nav-blue);
  width: 240px;
  height: 61px;
  font-family: "Cuprum", sans-serif;
  ;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.methods-list li {
  height: 283px;
  width: 619px;
}

.delivery {
  background-image: url("../img/delivery.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.guarantee {
  background-image: url("../img/guarantee.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.credit {
  background-image: url("../img/credit.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.methods-list b {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.methods-list p {
  width: 300px;
  height: 99px;
}

/* about company */

.about {
  width: 940px;
  height: 356px;
  display: block;
}

.about p {
  font-family: "PT Sans", Arial, sans-serif;
  ;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
}

.about li {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.about-company a {
  display: block;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  width: 220px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
}

.about-company {
  width: 50%;
  float: left;
}
.about-company li {
  padding-left: 37px;
  position: relative;
  /* background-image: url("../img/line.svg");
  background-position: left center;
  background-repeat: no-repeat; */
}
.about-company li::before {
  display: block;
  width: 25px;
  content: '';
  position: absolute;
  border-bottom: 2px solid #EE3643;
  top:50%;
  left: 0px;
}
.about-contacts {
  width: 50%;
  float: right;
}

.about-contacts a {
  display: block;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  width: 300px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
}

/* footer */

.main-footer {
  width: 1200px;
}

.footer-menu {
  background-color: var(--basic-nav-blue);
  display: block;
}

.footer-last {
  background-color: var(--basic-dark-blue);
}

.footer-list-first li, .footer-list-second li {
  display: inline;
  height: 24px;
}

.footer-list-first a {
  color: #fff;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-list-second a {
  color: var(--basic-footer-nav);
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-adress {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}

.footer-adress a {
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  width: 227px;
  height: 37px;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.feedback li {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  width: 137px;
  height: 37px;
}
.feedback li span {
  color: #fff;
}
.feedback li a {
  color: #FFD180;
}
