/*Variables*/

:root {
  --basic-dark-blue: #293449;
  --basic-superdark-blue: #1d2739;
  --basic-link-hover: #161D29;
  --basic-nav-blue: #32425c;
  --basic-light-blue: #3bbce3;
  --basic-orange: #ffbf47;
  --basic-light-orange: #ffc047;
  --basic-footer-nav: #ffd180;
  --basic-purple: #dc91d8;
  --basic-red: #ee3643;
  --basic-light-green: #8ed78f;
  --basic-green: #63a63e;
  --basic-background: #f3f7f9;
  --basic-creme: #f9f5f0;
  --basic-graylight: #c5c5c5;
  --basic-tel: #f7f3ec;
  --basic-buttonsbg: rgba(255, 255, 255 0.3);
  --basic-font-cuprum: "Cuprum", Arial, Helvetica, sans-serif;
  --basic-font-ptsans: "PT Sans", Arial, Helvetica, sans-serif;
}

figure {
  margin: 0;
  padding: 0;
}

/* Global */

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

body {
  width: 100%;
  min-width: 960px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  margin: 0;
  text-transform: uppercase;
}

p {
  font-family: var(--basic-font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}

.page-body {
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--basic-font-ptsans);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-body a {
  text-decoration: none;
}

/* main header */

.main-header {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-background);
  justify-content: center;
  width: 100%;
  /* ПОДСВЕТКА */
}

.main-header-menu {
  background-color: var(--basic-dark-blue);
  width: 100%;
}

.main-header-bar {
  display: flex;
  align-items: center;
}

header .main-header-center {
  margin-top: 42px;
  margin-bottom: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ПОДСВЕТКА */

.logo {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b62530;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
}

/* RED Basket */

a.basket {
  background-color: var(--basic-red);
  padding: 9px 21px 7px 14px;
}

/* RED Basket */

.bookmark:active, .cart:active {
  background-color: #161d29;
}

.bookmark:active, .cart:active, .checkout:active {
  opacity: 0.5;
}

.main-menu-icon {
  width: 15px;
  height: 100%;
  border: 0;
  fill: #fff;
  opacity: .3;
  margin-right: 8px;
}

.bookmark {
  padding: 10px 27px 9px 20px;
  object-fit: contain;
}

.cart {
  padding: 9px 27px 9px 24px;
  object-fit: contain;
}

.bookmark svg {
  width: 14px;
}

.top-line__icon {
  width: 15px;
  height: 100%;
  margin: 0 13px 3px -9px;
  border: 0;
  fill: #ffffff;
  opacity: .3;
}

.top-line__button:hover, .top-line__button:focus {
  background-color: #212a3a;
}

.top-line__button:hover .top-line__icon {
  opacity: 1;
}

.top-line__button:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.5);
}

.top-line__button:active .top-line__icon {
  opacity: .3;
}

.top-line__button--filled {
  background-color: #ee3643;
}

.top-line__button--filled:hover, .top-line__button--filled:focus {
  background-color: #ca2c37;
}

.top-line__button--filled:active {
  background-color: #ba2732;
}

.top-line__button--checkout {
  background-color: #63a63e;
}

.top-line__button--checkout:hover, .top-line__button--checkout:focus {
  background-color: #5fbb2d;
}

.top-line__button--checkout:active {
  background-color: #518534;
}

.top-line__search {
  display: flex;
  position: relative;
  width: 270px;
  height: 42px;
}

.top-line__search:focus {
  background-color: #ffffff;
}

.top-line__input {
  display: flex;
  background-color: #293449;
  padding: 0 76px 0 42px;
  border: 0;
  height: 42px;
  outline: none;
  color: #ffffff;
  font-family: var(--basic-font-cuprum);
  font-size: 18px;
  line-height: 24px;
}

.top-line__search:hover .top-line__icon {
  opacity: 1;
}

.top-line__input:focus {
  background-color: #ffffff;
  color: #000;
}

input:focus::-webkit-input-placeholder {
  color: #000;
}

.top-line__input:focus+.top-line__label .top-line__icon {
  fill: #ee3643;
  opacity: 1;
}

.top-line__input::placeholder {
  color: #ffffff;
}

.top-line__label {
  position: absolute;
  height: 100%;
  width: 51px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.top-line__icon--search {
  width: 17px;
  margin: 0;
}

.main-menu-link:focus, .main-menu-link:hover {
  background-color: var(--basic-link-hover);
}

.main-menu-link:hover .main-menu-icon {
  opacity: 1;
}

.main-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px 16px;
  color: #fff;
  font-family: var(--basic-font-cuprum);
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.checkout {
  background-color: var(--basic-green);
  padding: 9px 17px 8px 19px;
  font-family: var(--basic-font-cuprum);
  font-size: 18px;
  line-height: 24px;
  object-fit: contain;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.main-header-center p {
  font-family: var(--basic-font-cuprum);
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  width: 197px;
  height: 71px;
  text-align: left;
  margin-left: 30px;
}

.main-contacts-phone {
  color: #32425c;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  font-family: var(--basic-font-cuprum);
  font-weight: 700;
  color: #ee3643;
  padding: 6px 45px 8px 37px;
  border: 3px solid #ffffff;
  justify-content: space-around;
  display: flex;
}

.phone-svg {
  margin: 6px 15px 0 0;
}

.main-header-center address {
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #32425c;
}

.main-header-center-contacts {
  margin-left: 93px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-header-center-contacts-index {
  margin-left: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-header-center-login {
  display: flex;
  max-width: 299px;
  justify-content: center;
  flex-wrap: wrap;
}

ul.login {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  margin: 0 0 2px 0;
}
ul.authorization {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  margin: 0 0 23px 0;
}

.static-center {
  margin: 4px 0 0 43px;
}

.login-link a {
  margin-right: 10px;
  padding: 12px 27px 12px 19px;
}

.login-link-icon {
  margin-right: 6px;
}

.login-reg a {
  padding: 12px 24px;
}

.login-link a, .login-reg a {
  background-color: #fff;
  text-transform: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--basic-font-cuprum);
  font-size: 21px;
  line-height: 21px;
}

.login-link a:hover, .login-reg a:hover {
  color: var(--basic-red);
}

.login-link a:focus, .login-reg a:focus {
  color: var(--basic-graylight);
}

.login-item {
  padding: 15px 17px 10px 15px;
  font-family: var(--basic-font-cuprum);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  background-color: #fff;
  width: 267px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}

.user-icon {
  margin: 0 16px 0 0;
}

.login-inside {
  display: flex;
  width: 210px;
  justify-content: space-between;
}

.login-inside-item {
  font-family: var(--basic-font-cuprum);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
}

.login-inside-item:last-child::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  top: 7px;
  left: -18px;
  position: absolute;
}

.login-inside-item-link, .profile {
  color: #32425c;
}

.login-inside-circle {
  margin: 6px 8px 5px 8px;
}

/* .profile:hover {

} */

.login-inside a:hover {
  color: var(--basic-red);
}

.profile:active, .login-inside a:active {
  color: var(--basic-graylight);
}

/* navigation */

nav.main-navigation {
  margin-bottom: 59px;
}

.site-navigation {
  width: 100%;
  background-color: var(--basic-nav-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation-item-main {
  padding: 16px 31px 20px 53px;
}

.site-navigation-item-company {
  padding: 16px 17px 20px 11px;
}

.site-navigation-item-catalog {
  padding: 16px 16px 20px 24px;
}

.site-navigation-item-news {
  padding: 16px 16px 20px 25px;
}

.site-navigation-item-special {
  padding: 16px 13px 20px 25px;
}

.site-navigation-item-delivery {
  padding: 16px 15px 20px 27px;
}

.site-navigation-item-contacts {
  padding: 16px 53px 20px 26px;
}

.site-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  font-family: var(--basic-font-cuprum);
  color: #fff;
  outline: 0;
  display: block;
  text-align: center;
  /* padding: 16px 24px 20px 27px; */
  cursor: pointer;
}

.site-navigation-item:hover {
  background-color: var(--basic-dark-blue);
}

.site-navigation-item a:active {
  background-color: var(--basic-superdark-blue);
  opacity: 0.5;
}

/* h2 catalog */

.inner-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

/* breadcrumbs */

section .breadcrumbs {
  margin: 21px 0 20px 0;
  display: flex;
  font-family: var(--basic-font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-item a {
  color: #000000;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  margin: 0 15px;
  position: relative;
}

/* aside  */

.product-item-buy {
  position: relative;
  display: flex;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  background-color: #63a63e;
  margin-bottom: 7px;
  border-radius: 5px;
  box-shadow: inset 0px -3px 0px 0px rgb(54 115 21);
}

.product-item-buy::before {
  content: "";
  background-image: url(../img/icon-cart.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  opacity: 0.3;
  display: block;
  width: 15px;
  margin-right: 9px;
  height: 15px;
}

.product-item-buy:hover::before, .product-item-buy:active::before {
  color: #ffffff;
}

.product-item-buy:hover {
  background-color: #5fbb2d;
}

.product-item-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.product-item-bookmark {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 129px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 5px;
  border: solid 3px #63a63e;
  color: var(--basic-nav-blue);
}

.product-item-bookmark:hover {
  border-color: #32425c;
}

.product-item-bookmark:active {
  border-color: #32425c;
  opacity: 0.5;
}

.product-item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 208px;
  height: 169px;
}

.product-item-buttons {
  position: absolute;
  display: none;
  top: 0;
  width: 218px;
  height: 124px;
  padding-top: 45px;
  background-color: #ffffff;
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-item:hover .product-item-buttons {
  display: block;
}

aside {
  display: block;
  width: 220px;
}

.catalog-grid {
  display: grid;
  grid-template-areas: "filters results";
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
}

.catalog-filter {
  margin: 0 0 0 0;
  font-family: var(--basic-font-ptsans);
  font-weight: 400;
}

.catalog-filter-title {
  margin: 0;
  padding: 5px 150px 9px 20px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--basic-tel);
  border-radius: 3px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 16px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 12px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-tel);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  padding-left: 6px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: var(--basic-font-ptsans);
  font-size: 17px;
  line-height: 18px;
  position: relative;
}

.price-controls label:first-child::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 106px;
  width: 8px;
  height: 1px;
  background-color: #000;
}

.price-controls input {
  width: 95px;
  height: 38px;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: var(--basic-tel);
  font-family: inherit;
  font-size: inherit;
}
.catalog-filter-brands b {
  margin: 42px 0 0 0;
}
.catalog-filter-power b {
  margin-top:43px ;
}
.catalog-filter-brands b, .catalog-filter-power b {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-family: var(--basic-font-ptsans);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}
ul.catalog-filter-brands-list {
  margin: 16px 0 0 0;
}
ul.catalog-filter-power-list {
  margin: 25px 0 0 0;
}

.catalog-filter-brands-list ul {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-filter-brands-list li, .catalog-filter-power-list li {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter-brands-list label, .catalog-filter-power-list label {
  cursor: pointer;
}

.catalog-filter-brands-list label:hover, .catalog-filter-power-list label:hover {
  color: #222;
}

.catalog-filter-brands-list input, .catalog-filter-power-list input {
  position: relative;
  display: none;
}

.check {
  position: relative;
  margin-right: 35px;
}

.catalog-filter-brands-list input:disabled, .catalog-filter-power-list input:disabled::before {
  opacity: 0.3;
}

.catalog-filter-brands-list input+.check::before, .catalog-filter-power-list input+.check::before {
  width: 25px;
  height: 25px;
  content: "";
  margin-right: 10px;
  color: #b1b1b1;
  vertical-align: middle;
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.catalog-filter-power-list input[type="radio"]+.check::before {
  background-image: url("../img/radio-off.svg");
}

.catalog-filter-brands-list input:checked+.check::before {
  background-image: url("../img/checkbox-on.svg");
}

.catalog-filter-power-list input:checked+.check::before {
  background-image: url("../img/radio-on.svg");
}

.catalog-filter-brands-list input:hover+.check::before, .catalog-filter-power-list input:hover+.check::before {
  opacity: 0.5;
}

.catalog-filter-brands-list input:disabled+.check::before, .catalog-filter-power-list input:disabled+.check::before {
  color: #e1e1e1;
}

.catalog-filter-range .catalog-price-controls {
  position: relative;
  margin-bottom: 9px;
  padding: 39px 20px;
  background-color: var(--basic-tel);
  border-radius: 0 0 3px 3px;
}

.show {
  display: block;
  border: none;
  box-sizing: border-box;
  background-image: url("../img/showbtn.png");
  width: 220px;
  height: 38px;
  text-transform: uppercase;
  font-family: var(--basic-font-ptsans);
  font-weight: 400;
  margin-top: 38px;
  font-size: 13px;
  line-height: 18px;
}

/* sort */

.filters {
  align-self: flex-start;
}

.filters__headline {
  background-color: var(--basic-tel);
  padding: 10px 14px 10px 18px;
  display: flex;
  justify-content: space-between;
}

.filters__headline, .filters__header {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--basic-font-ptsans);
}

.filters__header {
  margin: 0;
}

.filters--sorting {
  margin-bottom: 25px;
}

.filters__sorting {
  display: flex;
  align-items: center;
  justify-content:space-between;
  max-width: 500px;
}

ul.filters__types {
  list-style: none;
  padding: 0;
  display: flex;
  margin-right: 46px;
}
ul.filter__types li {
  margin-right: 20px;
}
ul.filters__types--arrows {
  flex: 0 0 70px;
  margin: -1px -24px 0px 0px;
}

.filters__types--arrows li {
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.bytype {
  margin-left: 70px;
  margin-right: 65px;
}
.filters__sort-button {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  fill: rgba(0, 0, 0, 0.3);
  padding: 0;
  border-bottom: 1px dotted #ee3643;
  outline: none;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--basic-font-ptsans);
}

.filters__sort-button:hover, .filters__sort-button:focus {
  color: rgba(0, 0, 0, 1);
  fill: rgba(0, 0, 0, 1);
  border-style: solid;
}

.filters__sort-button--active, .filters__sort-button--active:hover, .filters__sort-button--active:focus {
  color: #ee3643;
  fill: #ee3643;
  border: none;
  cursor: default;
}

.filters__sort-button:active {
  color: #ee3643;
  fill: #ee3643;
  border-bottom: none;
}

.filters__sort-button--arrow, .filters__sort-button--arrow:hover, .filters__sort-button--arrow:focus {
  border: none;
}

/* sort */

/* wrapper */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

/* features */

.features {
  margin-top: 60px;
  margin-bottom: 59px;
}

.features-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: repeat(3, 123px);
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  min-height: 123px;
  color: #ffffff;
  font-family: var(--basic-font-cuprum);
  position: relative;
  gap: 14px;
}

.features-item b, .features-item a {
  margin-left: 23px;
}

.features-list b {
  font-size: 24px;
  line-height: 30px;
  font-family: var(--basic-font-cuprum);
}

.features-btn {
  width: 135px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  color: #fff;
  font-family: var(--basic-font-cuprum);
  font-size: 14px;
  line-height: 18px;
}

.features-btn:hover {
  background-color: rgba(196, 196, 196, 0.3);
  color: #fff;
}

.features-btn:active {
  background-color: rgba(169, 169, 169, 0.3);
  color: #fff;
}

.materials {
  background-color: var(--basic-orange);
  background-image: url("../img/bucket.svg");
  background-position-x: 83%;
  background-position-y: 51%;
  background-repeat: no-repeat;
}

.tool {
  background-color: var(--basic-light-blue);
  background-image: url("../img/drill.svg");
  background-position-x: 86%;
  background-position-y: 54%;
  background-repeat: no-repeat;
}

.technic {
  background-color: var(--basic-purple);
  background-image: url("../img/tractor.svg");
  background-position-x: 86%;
  background-position-y: 49%;
  background-repeat: no-repeat;
}

.discount {
  background-color: var(--basic-light-green);
  background-image: url("../img/basket.svg");
  background-position-x: 81%;
  background-position-y: 49%;
  background-repeat: no-repeat;
}

.delivery {
  background-color: var(--basic-orange);
  background-image: url("../img/car.svg");
  background-position-x: 86%;
  background-position-y: 52%;
  background-repeat: no-repeat;
}

/* slider */

.slider {
  grid-area: 2 / 1 / 4 / 3;
  position: relative;
}

.slider-part {
  position: relative;
}

.slider-part b {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  top: 24px;
  font-weight: 700;
}

.slider-link {
  padding: 11px 46px 9px 47px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--basic-font-cuprum);
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
  position: absolute;
  top: 201px;
  left: 24px;
}

.slider-link:hover {
  background-color: #ca2c37;
}

.slider-link:active {
  background-color: #ba2732;
}

.slider-part p {
  font-size: 18px;
  line-height: 24px;
  top: 64px;
}

.slider-part b, .slider-part p {
  position: absolute;
  left: 24px;
  color: #fff;
  font-family: var(--basic-font-cuprum);
}

.slide-control-left::before, .slide-control-right::before {
  position: absolute;
  top: 50%;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-size: 23px 41px;
}

/* section product */

section.product {
  margin-bottom: 70px;
}

.product-grid {
  display: grid;
  grid-template-rows: 89px 318px;
  row-gap: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-gap: 20px;
}

ul.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-gap: 20px;
  padding-bottom: 2px;
}

.product-popular {
  width: 940px;
  height: 89px;
  font-family: var(--basic-font-cuprum);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-creme);
}

.product-popular h2 {
  margin-left: 28px;
}

.product-popular a {
  margin-right: 14px;
  padding: 11px 25px 9px 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
  margin-bottom: 4px;
}

.product-item {
  width: 220px;
  font-family: var(--basic-font-ptsans);
  font-style: normal;
  font-weight: 700;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  min-height: 318px;
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
  margin-bottom: -3px;
}

.product-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.product-item-info h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 10px 25px 8px;
  text-align: center;
  align-self: stretch;
}

.product-item-info del {
  color: #a9a9a9;
  margin-bottom: 14px;
  margin-top: auto;
}

.product-item .flag {
  top: -1px;
  right: -1px;
  z-index: 10;
}

.flag::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-image: url("../img/flag-new.png");
  z-index: 2;
}

.product-item h3 {
  font-size: 18px;
  line-height: 20px;
}

.product-item del {
  font-size: 17px;
  line-height: 18px;
}

.product-btn {
  font-family: var(--basic-font-cuprum);
  border-radius: 3px;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  padding: 9px 41px 9px 33px;
  margin: 0px 3px 2px 15px;
  background-color: var(--basic-red);
  position: relative;
}

.info-btn {
  font-family: var(--basic-font-ptsans);
  font-weight: 700;
  font-style: normal;
  border-radius: 3px;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  padding: 10px 41px 10px 33px;
  margin: 0px 3px 2px 15px;
  background-color: var(--basic-red);
  position: relative;
}

.info-btn::after {
  content: "";
  position: absolute;
  right: -18px;
  border: 19px solid #fff;
  border-left-color: #ee3643;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bfg9000 {
  margin-top: 4px;
  margin-left: 10px;
}

/* manufacturers section */

.manufacturers-grid .manufacturers-btn {
  font-family: var(--basic-font-cuprum);
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 38px 9px 39px;
  margin: 0px 19px 1px 15px;
  background-color: var(--basic-red);
}

section.manufacturers {
  margin-top: 59px;
  margin-bottom: 59px;
}

.manufacturers-grid {
  display: grid;
  grid-template-rows: 89px 310px;
  row-gap: 20px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, 145px);
  gap: 20px;
}

.manufacturers-item {
  display: block;
  position: relative;
  width: 220px;
  height: auto;
}

/* .manufacturers-item a {
  position: absolute;
} */

.manufacturers-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.manufacturers-item:active {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  opacity: 0.5;
}

/* services */

.services {
  background-color: var(--basic-background);
  height: 522px;
  margin-bottom: 70px;
}

.services-grid {
  display: grid;
  grid-template-rows: 104px 329px;
  row-gap: 21px;
  padding-top: 64px;
}

.services-header {
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 11px;
}

.services-header p {
  margin-top: 25px;
}

ul.services-list {
  list-style: none;
  margin: 0;
  padding: 40px 0;
  position: relative;
  align-self: self-start;
}

.services-list::before {
  content: "";
  width: 10px;
  background-image: url("../img/object.png");
  height: 279px;
  right: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

.services p {
  font-family: var(--basic-font-ptsans);
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  height: 49px;
}

.services-item-link {
  background-color: var(--basic-nav-blue);
  font-family: var(--basic-font-cuprum);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  align-items: center;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  box-shadow: inset 0px 1px 0px #405069;
  border-radius: 0;
  outline: 0;
}

.delivery-btn {
  padding: 12px 139px 17px 22px;
}

.guarantee-btn {
  padding: 14px 140px 17px 22px;
}

.credit-btn {
  padding: 16px 157px 17px 22px;
}

.services-item-link-active {
  background-color: #fff;
  color: var(--basic-nav-blue);
  box-shadow: none;
}

.services-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

ul.methods-list {
  padding: 36px 0 33px 0;
}

.methods-list-item {
  height: 283px;
  width: 619px;
  display: none;
  margin-right: 1px;
}

.methods-list-item b {
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  margin: 0;
  text-transform: uppercase;
  color: #32425c;
}

.methods-list-item-active {
  display: block;
}

.about-delivery {
  background-image: url("../img/delivery.png");
  background-position-x: 100%;
  background-position-y: 94%;
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.about-delivery p {
  margin-top: 31px;
}

.guarantee {
  background-image: url("../img/guarantee.png");
  background-position-x: 100%;
  background-position-y: 94%;
  background-repeat: no-repeat;
}

.guarantee p {
  margin-top: 25px;
}

.credit {
  background-image: url("../img/credit.png");
  background-position-x: 107%;
  background-repeat: no-repeat;
}

.credit p {
  margin-top: 31px;
}

.methods-list b {
  font-family: var(--basic-font-cuprum);
  font-size: 30px;
  line-height: 30px;
}

.methods-list p {
  font-family: var(--basic-font-ptsans);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.methods-button {
  font-family: var(--basic-font-cuprum);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 195px;
  background-color: var(--basic-red);
  margin-top: 24px;
  padding: 10px 0;
}

/* about company */

section.about {
  margin-bottom: 70px;
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
}

section.about-contacts, section.about-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-company h2 {
  margin-bottom: 24px;
}

.about-company a {
  font-family: var(--basic-font-cuprum);
  width: 220px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
  margin-top: 7px;
}

.about-company p, .about-contacts p {
  display: block;
  width: 460px;
  font-family: var(--basic-font-ptsans);
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
}

.about-contacts p {
  display: flex;
  width: 180px;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

ul.about-company-list {
  margin-top: 4px;
  width: 175px;
}

.about-company-list li {
  font-family: var(--basic-font-cuprum);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.about-company-list li::before {
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin-right: 12px;
}

.about-write-us {
  font-family: var(--basic-font-cuprum);
  width: 300px;
  height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: #fff;
}

.description {
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2px 23px 0 0px;
}

.catalog-description {
  padding: 63px 0 69px 0;
  background-color: var(--basic-background);
}

.description h2 {
  margin: 0;
  margin-bottom: 25px;
  font-family: var(--basic-font-cuprum);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.description p {
  font-family: var(--basic-font-ptsans);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* bottom paginator */

ul.catalog-paginator {
  margin-top: 49px;
  margin-bottom: 59px;
}

.catalog-paginator {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-paginator-item .active, .catalog-paginator-item a {
  display: flex;
  vertical-align: top;
  justify-content: center;
  margin-right: 10px;
  padding: 9px 0;
  width: 36px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.catalog-paginator-item:last-child {
  margin-right: 0;
}

.catalog-paginator-item .active {
  color: #fff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.catalog-paginator-item .next {
  width: 138px;
}

.catalog-paginator-item a:hover {
  border-color: #bdc6ca;
}

.catalog-paginator-item a:active {
  border-color: #ee3643;
}

/* container (catalog) */

/* footer */

.main-footer {
  color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
  min-width: 940px;
  display: flex;
  flex-direction: column;
  background-color: var(--basic-nav-blue);
}

.footer-logo {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-menu {
  background-color: var(--basic-nav-blue);
  display: block;
}

.footer-last {
  background-color: var(--basic-dark-blue);
  padding-top: 34px;
  padding-bottom: 29px;
  margin-top: 53px;
}

ul.footer-list-first {
  display: flex;
  flex-wrap: wrap;
  max-width: 610px;
  justify-content: flex-end;
  margin-bottom: 11px;
}

.footer-list-first a, .footer-list-second a {
  color: #fff;
  font-family: var(--basic-font-cuprum);
  font-size: 18px;
  line-height: 24px;
  margin-left: 59px;
}

.footer-upper-first {
  display: flex;
  min-height: 63px;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-upper-second {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

ul.footer-list-second {
  height: 48px;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.footer-list-second a {
  color: var(--basic-footer-nav);
  font-family: var(--basic-font-cuprum);
  font-size: 18px;
  line-height: 24px;
}

.footer-text {
  margin-left: 2px;
  margin-top: 20px;
}

.footer-text address, .footer-phone {
  font-family: var(--basic-font-cuprum);
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.footer-copyright {
  width: 227px;
  height: 37px;
  font-family: var(--basic-font-cuprum);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.feedback-list {
  display: flex;
  justify-content: space-between;
}

.mail {
  margin-left: 14px;
  width: 137px;
}

.developed {
  width: 98px;
  margin-right: 13px;
}

.feedback-item {
  font-family: var(--basic-font-cuprum);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  height: 37px;
}

.feedback-item span {
  color: #fff;
}

.feedback-item a {
  color: #ffd180;
}

.feedback-item a:hover {
  text-decoration: underline;
}

.feedback-item a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.footer-list-first-item a:hover, .footer-list-second-item a:hover {
  text-decoration: underline;
}

.footer-list-first-item a:active, .footer-list-second-item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-social-list-item {}

.footer-social-list .social-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--basic-superdark-blue);
  position: relative;
}

ul.footer-social-list {
  display: flex;
  justify-content: center;
  padding-right: 29px;
}

.social-btn {
  display: block;
}

.footer-social-list:last-child {
  margin-right: 0px;
}

.social-btn:before {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.icon-vk::before {
  background-image: url("../img/icon-vk.svg");
  background-size: 25px 14px;
}

.icon-facebook::before {
  background-image: url("../img/icon-fb.svg");
  background-size: 12px 22px;
}

.icon-instagram::before {
  background-image: url("../img/icon-insta.svg");
  background-size: 21px 21px;
}

.social-btn:hover, .social-btn:active {
  background-color: var(--basic-red);
}

.footer-last .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* MODAL WINDOWs */

.modal {
  display: none;
  position: relative;
  background-color: #ffffff;
  z-index: 2;
  top: 50%;
  left: 50%;
  box-shadow: 0px -7px 0px 0 #ee3643, 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  width: 620px;
  height: 430px;
}

.modal--show {
  display: block;
  position: fixed;
}

.modal--basket {
  height: 275px;
  position: absolute;
}

.modal--map {
  background-color: #efebe4;
  width: 940px;
  height: 446px;
  margin-top: -225px;
  margin-left: -470px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.44);
}

.modal__iframe {
  border: none;
}

.modal__close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 9px;
  right: 9px;
  background-image: url("../img/icon-close.svg");
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: var(--basic-font-cuprum);
}

.modal__header--basket {
  margin: 48px 0 48px 81px;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: none;
}

.modal__header--basket::before {
  display: inline-block;
  vertical-align: top;
  content: "";
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  left: 0;
  margin-right: 32px;
}

.modal__footer {
  background-color: #f4f4f4;
  padding: 37px 80px;
  display: flex;
  justify-content: space-between;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal__error {
  animation: shake 0.6s;
}

.modal__success {
  animation: fly 0.6s;
}

.modal__main {
  padding: 48px 80px 0;
  font-size: 18px;
  line-height: 18px;
}

.modal__entry {
  display: flex;
  flex-direction: column;
  margin: 0 0 22px;
}

.modal__button {
  flex: 1;
  align-items: center;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 11px;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--basic-font-cuprum);
  text-align: center;
  text-transform: uppercase;
  outline: 0;
}

.modal__button:not(:last-child) {
  margin-right: 20px;
}

.modal__input {
  border: 2px solid #dee3e4;
  padding: 10px 16px;
  font-size: 13px;
  border-radius: 3px;
  outline: 0;
  margin-top: 13px;
  width: 100%;
}

.modal__entry--group {
  display: inline-block;
  vertical-align: top;
  width: 220px;
}

.modal__input:hover {
  border: 2px solid #b5b5b5;
}

.modal__input:focus {
  border: 2px solid #ee3643;
}

.modal__input::placeholder {
  color: #a9a9a9;
}

.modal__textarea {
  resize: none;
  height: 114px;
}

.modal__input-group {
  display: flex;
  justify-content: space-between;
}

/* modal button */

.button--red {
  background-color: #ee3643;
}

.button--red:hover, .button--red:focus {
  background-color: #ca2c37;
}

.button--red:active {
  background-color: #ba2732;
}

.button--wide {
  width: 100%;
}

.button--white {
  padding: 11px 39px;
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--basic-font-cuprum);
  border: 1px solid #e5e5e5;
  outline: none;
}

.button--white:hover, .button--white:focus {
  border-color: #bdc6ca;
}

.button--white:active {
  border-color: #ee3643;
}

.button--continue {
  background-color: #ffffff;
  color: #000000;
}

.button--continue:hover, .button--continue:focus {
  color: #ee3643;
}

.button--continue:active {
  color: rgba(0, 0, 0, 0.3);
}

/* MODAL WINDOWs */
